# Ignore virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables and secrets
.env
.secrets.toml
.streamlit/secrets.toml

# Ignore other temporary files
.DS_Store

# Ignore Streamlit cache directories
.streamlit/
